/*color ruby red: #9B1D20
color tea green: #CBEFB6
color lighter tea green: #D0FFCE
color pineapple: #D0FFCE
color coral: #FC814A*/

html, body {
    margin: 0;
    padding: 0;
    font-family: Lato,"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
    font-weight: 400;
    width: 100%;
    height: 100%;
    background-color: #F4F3F6;
}
.wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
nav {
	width: 100%;
    height: 9%;
    display: flex;
    background-color: green;
    font-size: 0.8em;
}
div ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
#menu-left {
    float: left;
    display: flex;
    width: 70%;
}
#menu-left ul a{
    display: flex;
    margin-right: 20px;
    justify-content: flex-start;
}
#menu-left ul a:first-child {
    background-color: #00a0df;
    width: 45px;
    height: 100%;
    padding-left: 5px;
    transition: width 0.5s ease;
}
#menu-left ul a:first-child:hover {
    width: 140px;
}
#menu-right {
    float: right;
    align-content: flex-start;
    display: flex;
    width: 30%;
    margin-right: 30px;
}
#menu-right ul a{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
nav a {
    text-decoration: none;
    color: #aeb4b7;
    text-transform: uppercase;
    height: 100%;
    display: flex;
    align-items: center;
}
nav a:hover {
    color: #fff;
}
.icon-ubqt-logo {
    background: url('../img/logo-ubqt.png');
    width: 100%;
    height: 40px;
    background-repeat: no-repeat;
}
.icon-search {
    width: 20px;
    height: 20px;
}