
nav{
	border-bottom: solid 3px black;
	float: left;
	width: 100%;
}

nav a{
	text-decoration: none;
	color: #aaa;
}

nav li{
	list-style: none;
	float: left;
	padding: 10px 25px 15px;
	font-family: Arial, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}

nav li:hover, nav li.active{
	border-bottom: solid 8px black;
	padding-bottom:7px;
}

nav li:hover a, nav li.active a{
	color: black;
}