
#envoltorio{
	/*width: 90%;*/
	margin: 0 auto;
}

#centrado{
	text-align: center;
 }


#centrado img{
	width: 100%;
	/*width: 80%;*/
}


audio{
	margin: 3% 0% 2% 9%;
	width: 20%;
}

footer{
	float: left;
	font-size: 20px;
	margin: 2% 0% 2% 23%;
	padding-left: 8%;
}

footer span{
	font-weight: bold;
}

a{
	color: #af1d1d;
}