@font-face {
     font-family: SuperMario256;
    src: url('../fonts/SuperMario256.ttf');
}

body{
	margin:0;
	min-width: 90%;
}

a{
	text-decoration:none;
}


 header img{
	width: 100%;
	position: absolute;
}

header nav div{
	margin-top: 14%;
}

 header nav a{
	color: #e00606;
}

 header div{
	float: left;
	width: 18%;
	margin: 12% 0% 0% 3%;
}

 #contenido section{
    width: 75%;
    float: left;
    padding: 1%;
    font-family: sans-serif;
}

 #contenido section h1{
    font-family: SuperMario256, Consolas, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 80px;
}

 #contenido section img{
	width: 20%;
	margin: 2% 0% 0% 41%;
}

 #contenido section article{
	padding: 1%;
}

 #contenido section article h2{
    font-weight: bold;
    font-size: 40px;
}

 #contenido section article img{
	position: relative;
	margin-left: 17%;
}

 aside{
	position: fixed;
	width: 18%;
	left: 78%;
}

 aside h2{
	font-family: Consolas, sans-serif;
	font-size: 20px;
	padding-left: 15%;
	text-align: center;
}

 #publi{
	top: 24%;
}

 aside .anuncio{
	margin-left: 14%;
}

 nav span{
	float: left;
	width: 35%;
}


#contenido div#carrusel{
	width: 60%;
	margin-left: 9.5%;
	background-color: #759fdd;
	float: left;
}

 #contenido #carrusel span img{
	width: 69.7%;
	border: solid;
	float: left;
	border: solid;
}


#dcha img, #izq img{
	width: 14.5%;
	border: solid;
	float: left;
}

#izq img{
	border-right: transparent;
}

#dcha img{
	border-left: transparent;
}

#contenido #carrusel #paginas{
	text-align: center;
	border: solid;
}

 #contenido div#carrusel nav#paginas #act{
	color: red;
	font-weight: bold;
}


footer{
	width: 100%;
	font-size: 20px;
	clear: both;
	float: left;
	text-align: center;
	margin: 7% 0% 2% 0%;
}

footer span{
	font-weight: bold;
}

footer  a{
	color: #af1d1d;
}


