@font-face {
     font-family: SuperMario256;
    src: url('../fonts/SuperMario256.ttf');
}

@font-face {
     font-family: MARIO;
    src: url('../fonts/MARIO.ttf');
}

@font-face {
     font-family: Zelda;
    src: url('../fonts/Zelda.ttf');
}

body{
	margin: 0;
}


#envoltorio{
	margin: 0 auto;
	width: 100%;
	min-height: 40%;
}

#envoltorio header img{
	width: 100%;
	position: absolute;
}

#envoltorio nav{
	width: 70%;
	margin-left: 3%;
	float: left;
}

#envoltorio nav h1{
	width: 100%;
	font-size: 71px;
	text-transform: uppercase;
	font-family: SuperMario256, sans-serif;
	margin-top: 19%;
}

#envoltorio nav h1 #r{
	color: #ed1515;
}

#envoltorio nav h1 #b{
	color: #1e4ace;
}

#envoltorio nav h1 #y{
	color: #e8d20d;
}

#envoltorio nav h1 #g{
	color: #15b225;
}

#envoltorio nav a{
	text-decoration: none;
	font-size: 340%;
	color: #3562c4;
}

#envoltorio nav a #mario{
	font-family: MARIO, sans-serif;
	font-size: 100%;
}

#envoltorio nav a #zelda{
	font-family: Zelda, sans-serif;
}

#envoltorio nav a img{
	width: 7%;
}

#envoltorio nav a span{
	color: #343835;
}

#envoltorio #foto img{
	width: 60%;
	padding-left: 3%;
}


#envoltorio aside{
	position: fixed;
	width: 20%;
	left: 74%;
}

#envoltorio aside h2{
	font-family: Consolas, sans-serif;
	width: 120%;
	text-align: center;
}

#envoltorio #publi{
	top: 27%;
}

#envoltorio aside img{
	width: 120%;
	margin-top: 2%;
}


footer{
	width: 100%;
	font-size: 20px;
	clear: both;
	float: left;
	text-align: center;
	margin: 7% 0% 2% 0%;
}

footer span{
	font-weight: bold;
}

footer  a{
	font-weight: bold;
	color: #af1d1d;
}