@font-face{
	font-family:"simpsons";
	src: url('../font/simpsons.otf');
}

.tipografia{
	font: 50px simpsons,Arial,fantasy;
}

.centrado{
	text-align: center;
}

body{
	margin:0;
	background-color: #ffd90f;
}

a{
	text-decoration: none;
}


#envoltorio{
	width: 100%;
}


#envoltorio header{
	text-align: center;
	position: fixed;
	top: 0px;
	width: 100%;
}

#envoltorio #contenido{
	margin-top: 220px;
	width: 100%;
}

#envoltorio #contenido section{
	width: 65%;
	float: left;
	padding: 0 2.5%;

}

#envoltorio #contenido section img{
	width: 25%;
	margin-left: 50px;
	border-radius: 20%;
}

#envoltorio #contenido section h1{
	margin-bottom: 20px;
}


#envoltorio #contenido aside{
	width: 24%;
	float: right;
	margin-right: 5%;
}

#envoltorio #contenido aside #anuncio{
	width: 100%;
	margin-top: 50px;		
}

#envoltorio #contenido aside #anuncio img{
	width: 100%;
}

#envoltorio footer{
	width: 100%;
	clear: both;
	text-align: center;
}

