@font-face{
	font-family:"simpsons";
	src: url('../font/simpsons.otf');
}

.tipografia{
	font-family: simpsons,Arial,fantasy;
}

.centrado{
	text-align: center;
}


body{
	margin:0;
	background-color: #ffd90f;
}

a{
	text-decoration: none;
}

#envoltorio{
	width: 100%;
}

#envoltorio header{
	text-align: center;
	position: fixed;
	top: 0px;
	width: 100%;
}

#envoltorio #contenido{
	margin-top: 220px;
	width: 100%;
}

#envoltorio #contenido nav{
	width: 100%;
}

#envoltorio #contenido nav div{
	width: 15%;
	float: left;
	margin-left: 10%;
}
#envoltorio #contenido section{
	width: 68%;
	float: left;
	padding: 0 3%;
			
}

#envoltorio #contenido section img{
	width: 25%;
	border-radius: 20%;
}

#envoltorio #contenido aside{
	width: 23%;
	float: right;
	margin-right: 2%;
}

#envoltorio #contenido aside #anuncio{
	width: 100%;
	margin-top: 50px;		
}

#envoltorio #contenido aside #anuncio img{
	width: 100%;
}

#envoltorio footer{
	width: 100%;
	clear: both;
}

#envoltorio #contenido section #carrusel{
	width: 100%;
	margin:0 auto;
}

#envoltorio #contenido section #carrusel #derecha{
	float: left;
	width: 15%;
	padding-top: 170px;

}


#envoltorio #contenido section #carrusel #izquierda{
	width: 15%;
	float: left;
	padding-top: 170px;
}

#envoltorio #contenido section #carrusel img{
	width: 65%;
	float: left;
}



