
body{
	margin:0;
	background-color: #ffd90f;
}


#envoltorio header{
	text-align: center;
}

#envoltorio #contenido{
	width: 100%;
}

#envoltorio #contenido img{
	width: 100%;
}

#envoltorio footer{
	
	text-align: center;
}