body{
	margin-top:1%;
	background-color: #5c8ee0;
}

header{
	text-align: center;
	font-family: sans-serif;
	font-size: 50px;
	font-weight: bold;
	margin-top: -0.5%;
}


header, nav{
	color: white;
}

nav, footer{
	background-color: #9ad659;
	margin-left: -1%;
}


#contenido aside{
	padding: 2%;
	font-size: 20px;
	padding-top: 15px;
	width: 25%;
	float: left;
}

#contenido aside#izq {
	color: white;
	float: left;
	width: 21%;
	font-size: 20px;
	text-align: left;
}

#contenido aside#dcha{
	text-align: center;
	width: 21%;
	margin-left: 2%;
}

nav{
	padding: 1% 4% 1.8% 4%;
	width: 93.5%;
}

nav div{
	width: 12%;
	float: left;
	margin-left: 8%;
}

#contenido nav a{
	font-size: 15px;
}


a{ 
	text-decoration:none; 
	color: white;
} 


#contenido article{
	width: 42%;
	background-color: white;
	padding: 0 2%;
	float: left;
	color: black;
	height: 610px;
}

#contenido article section{
	font-size: 17px;

}

#contenido article section p{
	font-size: 15px;
	padding: 0 2px;
}


#contenido aside .foto{
	width: 75%;		
	margin: 0 auto;
}

#contenido aside .foto img{
	width: 100%;
	border: 2px solid transparent;
	margin: 3px auto;
}

#contenido aside #publicidad{
	width: 50%;		
	margin:5% 20%;
	text-align: center;
	color: black;
	font-size: 15px;
	background-color: white;
	padding: 5px 20px;
	height: 150px;
	border-radius: 15%;

}

footer{
	padding: 20px;
	width: 97.95%;
	position: absolute;
	bottom: -0.005%;
}