body{
	background-color: #0657d1;
}

#envoltorio{
    width: 100%;
    margin: 0 auto;
    min-width: 450px;
}

#envoltorio #contenido{
	width: 100%;

}

#envoltorio #contenido .img{
	float: left;
	width: 315px;		
	margin: 50px 55px;
	background-image: url('../img/fondo.jpg');
	border-radius: 10%;
	border:solid;
	border-color: white;
}

#envoltorio #contenido .img img{
	width: 315px;
	margin-top: 20px;
	padding: 5px 0;
	float: left;

}

#envoltorio #contenido .img h1{
	text-align: center;
	color: black;
	font-weight: bold;
	font-variant: small-caps;
	font-size: 120%;
	color: white;
}
