table{
	border-collapse: collapse;
}

table td, table th{
	border:2px solid black;
	margin-right: auto;
	text-align: center;
	padding: 3px;
}

caption{
	font-family: sans-serif;
	text-align: center;
	font-weight: bold;
}

table thead tr th{
	background-color: #3261ad;
}

table tbody tr th{
	background-color: #6d95d6;
}


table thead tr th, table tbody tr th{
	color: white;
}
