*{
	margin: 0;
}

nav{
	float: left;
	width: 100%;
	background-color: #434549;
}

nav ul li{
	list-style: none;
	float: left;
	margin-left: 20px;
	padding: 10px;
}

nav ul li a{
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-family: sans-serif;
}



nav ul li a:hover{
	transform:scale(20,0.5);
}

nav li:hover{
	background-color: #a02128;
	border-bottom: solid 3px;
	transform:scale(1.2,1.3);	/*Agranda la opción elegida, rollo lupa*/
}