***********************************************************************

*************************** UNIDAD 5 LISTAS Y MENÚS********************

***********************************************************************


-------------------------------- LISTAS -------------------------------
TIPOS DE MARCADORES:
	list-style-type: disc; --círculo relleno
					 circle; --círculo vacío.
					 square;
					 decimal;
					 decimal-leading-zero; --01,02,03
					 upper-roman; --i,ii,iii
					 lower-roman;
					 upper-alpha;
					 lower-alpha;


MARCADOR GRÁFICO:
	list-style-image: url(ruta/marcador.gif); --permite .gif, .jpeg, .png.
					  none;


POSICIÓN: determina la posición de las siguientes líneas del elemento respecto al marcador.

	list-style-position: outside; --valor por defecto.
						 inside; --desplazamiento solo para la 1º línea. 			El resto se alinea con el marcador

DECLARACIÓN ABREVIADA DE UNA LISTA
	list-style: marcadorGrafico tipoMarcador posicion;	 
	        --sin ,	
	        --es posible declarar 1 solo valor.				 


--------------------------------MENUS-----------------------------------

UTILIZANDO <LI>:
	#identificador{
		list-style;
		margin;
		padding;
	}

	#identificador li{
		border;
		padding;
		margin;
	}
 
 -------------------------------SELECTORES-----------------------------

SELECTOR DE HIJOS >: Para indicar que un hijo es directo de otro elemento se indica mediante >.	Ejemplo: 
	
	p>span --> cualquier elemento de span que sea hijo directo de p.



SELECTOR ADYACENTE +: selecciona el elemento que esté justo a continuación de otro elemento. Ejemplo: 

	h1+h2 {color: red;} --> aplica el color rojo al h2 si se encuentra inmediatamente después de h1.



SELECTOR DE ATRIBUTOS []: selecciona los elementos en función del atributo y el valor de los atributos. Ejemplo:
	
	a[class="articulo"]{color:yellow;} --> aplica el color amarillo en aquellos enlaces en los que tengan un atributo class con valor "articulo".

	a[class]{color:pink;} --> aplica el color rosa a los enlaces que tengan un atributo class, independientemente de su valor.

	a[https://google.es]{color:blue;} --> aplica el color azul a los enlaces que apunten a google.es.

SELECTOR HOVER: selecciona elementos cuando el cursor del ratón está sobre ellos. Se puede usar sobre todos lo s elementos.
Ejemplo:
	p:hover{
		background-color:white;
	}

SELECTORES PARA ENLACES:
	:LINK --> para etiqueta <a> no visitada.
	:VISITED --> para etiqueta <a> visitada.
	:ACTIVE --> para etiqueta <a> con link activado.

PSEUDO-CLASE :NTH-CHILD(n): selector de los hijos del elemento padre que coincidan con el valor de n. 
Ejemplo:
	li:nth-child(1){
		color:white;
	}
	-- estamos seleccionando los elementos de la lista de la posición 1.

	VALORES NUMÉRICOS:
		etiqueta: nth-child(n){

		}

	VALORES ALTERNOS
		etiqueta: nth-child(odd){  --elementos IMPARES.
		}

		etiqueta: nth_chlid(even){  --elementos PARES.
		}


--------------------------------FONDOS DEGRADADOS------------------------

FONDOS MÚLTIPLES:
	background-image:url(""), url("");
	background-position: TEMA ANTERIOR (poner los valores separados por coma, según corresponda a cada url.)
	background-repeat: TEMA ANTERIOR.


FONDO DEGRADADO:
	background-image: linear-gradient(dirección, color1, color2,colorn);
						- dirección:
							left
							right
							to direccion  direccion (diagonal) Ejemplo: to bottom right
							angle    --n deg
	
					 repeating-linear-gradient -- repetir líneas degradadas.

					 radial-gradient (shape/size color1, color2,colorn);
					 	-- para añadir espacios entre los colores:
					 		radial-gradient(red 10% yellow 20%);
					 	- shape:
					 		 circle
					 		 ellipse
					 	-size:
					 		 closest-side
					 		 farthest-side
					 		 closest-corner
					 		 farthest-corner

					 repeating-radial-gradient (color1 %, color2 %, ncolor %); --repite degradado radial.


** OJO: GENERADOR DE FONDOS DEGRADADOS: https://www.cssmatic.com/

----------------------------TRANSFORMACIONES CSS3------------------------


TRANSFORM:

-moz-transform: función (parámetros); --Mozilla.

-webkit-transform: funcion(parámetros); -- Safari, Chrome.

-o-transform: función(parámetros); -- Opera.



FUNCIONES:

	ESCALAR ELEMENTO: aumenta o disminuye el elemento. Su valor normal es 1, por lo que si se pone 1.5, se verá 50% más grande, y 0.5 un 50% más pequeño.
		-navegador-transform: scale(x,y);
							  -x --> ancho
					          -y --> alto
					          - Se puede dar 2 valores  o 1
	Ejemplo:
		-moz-transform:scale(2);


			-----------------------------------------------


	ROTAR: gira un elemento n grados.
		-navegador-transform:rotate(ndeg);
						    - positivo:en el sentido de las agujas del reloj
							- negativo: sentido contrario.
	
	Ejemplo:
		-moz-transform:rotate(10deg);


		  -------------------------------------------------


	INCLINAR: inclina el elemento n grados.
		-navegador-transform:skew(a, b); --SOBRE 2 EJES.
							 - a =horizontal(x);
							 - b =vertical (y);
							 skewX(a); --SOBRE EJE HORIZONTAL.
							 skewY(a); --SOBRE EJE VERTICAL.


		  -------------------------------------------------


	DESPLAZAR: desplaza el elemento en el eje horizonal y/o vertical.
		-navegador-transform:translate(x,y);
							 translateX(x);
							 translateY(y);
	Ejemplo:
		-moz-transform: translate(20px);


		  -------------------------------------------------


	MATRIX: combinación de todo:
		-navegador-transform: matrix(scaleX(), skewY(),skewX(), scaleY(), translateX(),translateY());

**OJO: CALCULADOR DE MATRICES: http://www.useragentman.com/matrix/#



-----------------------------ANIMACIONES-------------------------------

KEYFRAMES: la animación cambiará gradualmente desde el estilo actual hasta el nuevo. Se debe hacer un  bloque de código y otro del elemento donde aplicar el código de la animación.

	@keyframes nomAnimación{
		from{
			propiedad:estilo;
		}
		to{
			propiedad:estilo;
		}
	}
	div{
		propiedades:estilos;
		animation-name: nomAnimación;  --(enlace con keyframes)
		animation-duration: Ns;        --segundos
	}

Ejemplo:

	@keyframes example {
	  from {background-color: red;}
	  to {background-color: yellow;}
	}

	div {
	  width: 100px;
	  height: 100px;
	  background-color: red;
	  animation-name: example;
	  animation-duration: 4s; --cuanto tiempo tarda en completarse la animación.
	}

**OJO se puede especificar el % completado en background-color:
		@keyframes example {
		  0%   {background-color: red;}
		  25%  {background-color: yellow;}
		  50%  {background-color: blue;}
		  100% {background-color: green;}
		}


RETRASO DE LA ANIMACIÓN: segundos que tarda en empezar la animación. Se expresa en SEGUNDOS (s). Se tolera valores positivos y negativos.
	animation-delay: Ns;

Ejemplo:
	animation-delay: -2s;



DURACIÓN DE LA ANIMACIÓN: 
	animation-duration: Ns;

Ejemplo: 
	animation-duration: 4s;



ITERACIÓN DE LA ANIMACIÓN: especifica el número de veces que debe reproducirse la animación.
	animation-iteration-count: n;
							  infinite;



DIRECCIÓN DE LOS CICLOS DE LA ANIMACIÓN: especifica cómo debe reproducirse la animación.
	animation-direction: normal; -- se reproduce hacia adelante
						 reverse; --se reproduce hacia atrás
						 alternate; --alterna entre delante y atrás
 						 alternate-reverse; -alterna entre atrás y delante.



CURVA DE VELOCIDAD DE LA ANIMACIÓN: velocidad a la que empieza a reproducirse la animación
	animation-timing-function: ease; -- lento, luego rápido y termina muy 									  lento
							   linear; --misma velocidad siempre
							   ease-in; -- empieza lento
							   ease-out; --termina lento
							   ease-in-out; -- empieza y termina lento
							   cubic-bezier(n,n,n,n); --lo que tú digas.



APLICACIÓN DE ESTILOS EN LAS ANIMACIONES:

	animation-fill-mode: none; --no aplica estilos antes ni después de su 							  ejecución
						 forwards; -- se aplica al empezar
						 backwards; --se aplica al terminar
						 both; --se aplica al empezar y terminar.


** OJO: LISTA DE ELEMENTOS ANIMATABLES: https://www.w3schools.com/cssref/css_animatable.asp










