body {
  background-color: #d1cece;
} 
form {
    margin-top: 4%;
    border: 4px solid  rgb(136, 221, 255);
    border-radius: 2%;
    background-color: #ffffff;
}

.emoji {
    font-size: 14pt;
}

.footertext {
    text-align: center;
}

#provinces {
    width: 30px;
    height: 40px;
}

.generatePass,
.showPass {
    background-color: rgb(255, 255, 255) !important;
    border-color: rgb(216, 216, 216) !important;
}

.generatePass:focus,
.showPass:focus {
    box-shadow: none !important;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

.deactivate {
      background-color: gray !important;
      border-color: gray !important;
  }
.deactivate:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}


.vlows{
  color: rgb(255, 0, 0);
  border-top: 2px solid;
  border-top-color: rgb(255, 0, 0); 

}
.lows{
  color: rgb(255, 94, 0);
  border-top: 2px solid;
  border-top-color: rgb(255, 94, 0); 

}
.mediums{
  color: rgb(195, 176, 1);
  border-top: 2px solid;
  border-top-color: rgb(195, 176, 1); 

}
.strongs{
  color: rgb(65, 230, 73);
  border-top: 2px solid;
  border-top-color: rgb(65, 230, 73); 
  

}