fieldset{
	width: 420px;
	margin: 0 auto;
	padding: 13px 15px;
	background-color: #e3e7ed;
}

input[type="submit"] {
	margin: 0 auto;
	display: block;
}

legend{
	text-align: center;
	background-color: white;
	border: solid 1px black;
}