*{
	margin: 0;
	background-color: #6783af;
}


nav ul a li{
	width: 150px;
	height: 20px;
	border: black solid;
	padding: 10px;
	float: left;
	border-width: 3px 1.5px;
	border-radius: 15px 15px 0px 0px;
	background-color: #2d60af;
	list-style: none;
	text-align: center;
}

nav a{
	text-decoration: none;
	float: left;
	color: white;
	font-weight: bold;
}


nav ul li:hover, nav ul li a:hover{
	background-color: white;
}

nav ul a:hover{
	color: #2d60af;
}

nav ul a li#act{
	background-color: #727070;
	color: white;
}
