*{
	margin: 0 auto;
}

table{
	border-collapse: collapse;
	border: double black;
}

table td{
	border:2px solid black;
	text-align: center;
	width: 65px;
	height: 65px;
	font-size: 21px;
}

caption{
	font-family: sans-serif;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	padding: 13px;
}

 tr:nth-child(odd) td:nth-child(odd), tr:nth-child(even) td:nth-child(even){
	background-color: #efd5b1;
}

 tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd){
	background-color: #ce8c31;
}

 tr:first-child th, tr:last-child th, tr:nth-child(n) td:first-child, tr:nth-child(n) td:last-child{
	padding: 20px 34px;
}
