*{
	margin: 0 auto;
}


table{
	width: 80%;
	border-collapse: collapse;
	font-family: sans-serif;
}

caption{
	margin: 15px;
}

table tr:first-child{
	font-weight: bold;
}

table tr td{
	text-align: center;
}

table tr td:first-child, table tr td:nth-child(3), caption{
	font-weight: bold;
}

table tr td:nth-child(9), table tr td:nth-child(17){
	padding-right: 20px;
}

table tr td img{
	padding-top: 1px;
	width: 25px;
	float: left;
}

table thead tr{
	border-bottom: 2px solid #ccc9c9;
}

table tbody tr:first-child{
	border-bottom: 3px solid red;
}

table tbody tr:nth-child(2) td:first-child, table tbody tr:nth-child(3) td:first-child, table tbody tr:nth-child(4) td:first-child, table tbody tr:nth-child(5) td:first-child{
	background-color: #09a751;
	width: 2px;
}

table tbody tr:nth-child(6) td:first-child, table tbody tr:nth-child(7) td:first-child{
	background-color: #ffc72b;
}

table tbody tr:nth-child(8) td:first-child, table tbody tr:nth-child(9) td:first-child, table tbody tr:nth-child(10) td:first-child, table tbody tr:nth-child(11) td:first-child, table tbody tr:nth-child(12) td:first-child, table tbody tr:nth-child(13) td:first-child, table tbody tr:nth-child(14) td:first-child, table tbody tr:nth-child(15) td:first-child, table tbody tr:nth-child(16) td:first-child, table tbody tr:nth-child(17) td:first-child, table tbody tr:nth-child(18) td:first-child{
	background-color: #e1e1e1;
}

table tbody tr:nth-child(19) td:first-child, table tbody tr:nth-child(20) td:first-child, table tbody tr:last-child td:first-child{
	background-color: #ee4036;
}

table tbody tr:hover{
	background-color: #a0a0a0;
}
