body{
	margin:0 auto;
}

@font-face{
	font-family:"simpsons";
	src: url('../font/simpsons.otf');
}

.tipografia{
	font: 1em simpsons,Arial,fantasy;
}

body, header.jumbotron{
	background-color: #ffd90f;
}

aside img{
	border-radius: 20%;
}

.card{
	box-shadow: 10px 3px 20px darkblue;
}

.card-body a{
	color: #ffd90f;
}

form{
	margin: auto;
}
