body{
	margin:0 auto;
}

@font-face{
	font-family:"simpsons";
	src: url('../font/simpsons.otf');
}

.tipografia{
	font: 1em simpsons,Arial,fantasy;
}

body, header.jumbotron, .btn-primary{
	background-color: #ffd90f;
}

nav a{
	color: #ffd90f;
}

nav .btn-primary a{
	color: black;
}

section img{
	border-radius: 20%;
}

.navbar-brand.ml-5 {
	color: #ffd90f;
}

.navbar-dark .navbar-nav .nav-link {
    color: black;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
}