/*table{
	border-collapse: collapse;
}

table td, table th{
	border:2px solid black;
	text-align: center;
	padding: 13px;
	z-index: 1;
}

caption{
	font-family: sans-serif;
	text-align: center;
	font-size: 25px;
}

table thead tr th{
	background-color: #4c4c4c;
}

table tbody tr th{
	background-color: #6d6c6c;
}

table thead tr th, table tbody tr th{
	color: white;
}

table tbody tr:hover{
	background-color: #0c49b2;
}

table tbody tr td div:hover{
	border:2px solid #ce0c0c;
	z-index: 2;
}
*/


/*
table tbody tr td:hover, table tbody tr:hover td{
	background-color: red;
}
*/


.wrap {
  padding: 1em;
  margin: 1em auto;
  max-width: 232px;
  background: #eee;
  border-radius: 3px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}
table {
  width: 200px;
  margin: 0 auto 1em;
  border-collapse: collapse;
}
table td {
  width: 20%;
  text-transform: uppercase;
  color: #232c88;
  cursor: pointer;
}
table td div {
  padding: 5px 0;
  width: 100%;
  border: 2px solid #fff;
  text-align: center;
  background: #ddd;
  margin: -1px 2px -4px -1px;
  z-index: 1;
  position: relative;
}
table td div:hover {
  background: #fff;
  color: #1e2574;
  border: 2px solid #232c88;
  z-index: 2;
}