.jumbotron {
  background-image:url("../../img/banner.png");
  background-size:100%;
  background-repeat:no-repeat;
}

header, .jumbotron {
  background-color:#DE0000;
}

.jumbotron div h1 {
  color:#717477;
}

.jumbotron div p {
  color:white;
}

