.g {
  color:#15b225;
}

.r {
  color:#ed1515;
}

.b {
  color:#1e4ace;
}

.y {
  color:#e8d20d;
}

@font-face {
  font-family: SuperMario256;
 src: url('../../fonts/SuperMario256.ttf');
}

.text-uppercase.col-12.text-center.font-weight-bold.text-uppercase{
  font-family:SuperMario256, sans-serif;
}
