*{
	margin: 0;
}

body{
	background-color: #507abf;
}


nav ul a, nav ul a li a{
	text-decoration: none;
	color: white;
}


nav ul li{
	list-style: none;
	background: radial-gradient(#97a9c6,#0d0e0f);
}


nav{
	width: 900px;
	margin: 0 auto;
}



nav > ul > li{	/*li hijos de ul, hijos de nav*/
	float: left;
	height: 30px;
	width: 200px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-width: 2px 1px;
	border-style: solid;
	border-color: black;
	font-size: 20px;
}



@keyframes fondoSubmenus {
  0%   {background: radial-gradient(red,#0d0e0f); color: black;}
  25%  {background: radial-gradient(#57a043,#0d0e0f); color: white; border-radius: 15px;}
  50%  {background: radial-gradient(#6b3a8c,#0d0e0f); color: black;}
  75%  {background: radial-gradient(#a89019,#0d0e0f); color: white;}
  100%{background: radial-gradient(#d15e00,#0d0e0f); color: #969696;}
}

nav ul li ul a li, nav ul a li:hover ul a li{
	transition-duration: 4s;
	transition-property: height, border-width, padding, font-size;
	margin-left: -40px;
	animation: fondoSubmenus 5s infinite;	

}

nav ul li ul a li{
	position: relative;
	top: 19px;
	height: 0px;
	text-align: center;
	padding: 0px;
	border-width: 0px;
	font-size: 0px;
}

nav ul li:hover ul a li{
	height: 20px;
	width: 200px; 
	padding-top: 10px;
	padding-bottom: 10px;
	border-width: 2px 2px;
	font-size: 18px;
	border-style: solid;
	border-color: black;
	color: black;
	font-weight: bold;
}


nav ul li ul a li#extrIzq{
	margin-right: 0%;
	border-left-width: 2px;
}

nav ul li ul a li#extrDcha{
	border-right-width: 2px;
}	