*{
	margin: 0;
}

body{
	background-color: #507abf;
}


nav ul a, nav ul a li a{
	text-decoration: none;
	color: white;
}

nav ul li{
	list-style: none;
	background: radial-gradient(#57a043,#0d0e0f);
}


nav{
	width: 900px;
	margin: 0 auto;
}

nav > ul > li{	/*li hijos de ul, hijos de nav*/
	float: left;
	height: 30px;
	width: 200px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-width: 2px 1px;
	border-style: solid;
	border-color: black;
	font-size: 20px;
}

nav ul li ul li{
	position: relative;
	top: 19px;
	height: 0px;
	text-align: center;
	padding: 0px;
	border-width: 0px;
	font-size: 0px;
	transition-property: height, border-width;
	transition-duration: 2s;
	/*Igual que hover: cuando vuelve atrás*/
	background: radial-gradient(white,#0d0e0f);
	color: black;
	margin-left: -40px;
	background: radial-gradient(#57a043,#0d0e0f);
}


nav ul a li:hover ul li{
	height: 20px;
	width: 200px; 
	margin-left: -40px;	/*Hace que las subcajas coincidan con la de arriba*/
	padding-top: 10px;
	padding-bottom: 10px;
	border-width: 2px 2px;
	font-size: 18px;
	border-style: solid;
	border-color: black;
	background: radial-gradient(white,#0d0e0f);
	color: black;
	font-weight: bold;
}

nav ul a li#extrIzq{
	margin-right: 0%;
	border-left-width: 2px;
}

#extrDcha{
	border-right-width: 2px;
}	