@font-face{
			font-family: starwars;
			src:url(../fonts/Starjedi.ttf);
		}
@keyframes deslizarTexto{
	from{
		top:600px;
	}
	to{
		top:-600px;				
	}
}

body{
	background-color: #000;
}

main{
	height: 600px;
	overflow: hidden;	/*El texto va desapareciendo*/
	perspective: 350px;	/*Hace que la caja no se vea aplastada. Si se le dan valores más pequeños la caja sale en una posición mas horizontal, como si se estuviera cayendo*/
}

div{
	width: 40%;			
	position: relative;
	top:600px;	/*Desplaza hacia abajo el texto*/		
	left: 30%;
	color:yellow;
	font-family: starwars;
	font-size: 1.2em;
	line-height: 2em;
	transform: rotateX(15deg);	/*Hace que la caja se vea de lado y parezca que el texto salga inclinado*/
	transform-style: preserve-3d;	/*Reserva la perspectiva 3d*/
	animation: deslizarTexto 40s;
	animation-fill-mode: forwards;	/*Cuando termina la animación la caja se quede en la posición final y no vuelva a la inicial*/
	
}