	@font-face{
		font-family:"universal";	/*nombre fuente*/
		src: url(../font/universal.ttf);	/*Ruta a la fuente*/
	}	
		h2{
			color: #f94a2f;/*rgb(255,255,255);*/
			background-color: #fff;
		}


		h1{
			background-color: rgb(255, 107, 33);
			color: white;
			text-align: center;
			
		}

		h1,h2{
			font-family:universal,Arial,sans-serif;
			text-shadow: 3px 3px #333;
		}



