*{
	margin: 0;
}

nav{
	float: left;
	width: 100%;
	background-color: #333333;
}

nav li a{
	text-decoration: none;
	color: #aaa;
}


nav li a:hover{
	color: #7a7a7a;
}


nav li{
	list-style: none;
	float: left;
	padding: 15px 40px;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

nav ul li#apple, nav ul li#search, nav ul li#shop{
	height: 10px;
	margin-top: -8px;
}

body{
	background-color: black;
}