

.a,.b,.c,.d,.e{
	font-size:300px;
}


h1{
	font-size: 100px;
}

body{
	text-align: center;
}

.a{
	font-family: 'Snap ITC';
}

.b{
	font-family: Forte;
}

.c{
	font-family: 'MS UI Gothic';
}

.d{
	font-family: Ravie;
}

.e{
	font-family: Castellar;
}

.ch,.rr.ll{
	font-size:200px;
	font-family: Castellar;
}
