*{
	margin: 0;
}


nav ul li{
	background-image: url('img/iconos.jpg');
	border: solid;
}


nav a{
	text-decoration: none;
	font-weight: bold;
	float: left;
	padding-left: 230px;
}

nav li{
	list-style: none;
	width: 40px;
	height: 30px;
	padding: 20px;
}

nav ul li:hover{
	border: solid red;
}

nav ul li#opc1:hover{
	background-position: 0px -52px;
}

nav ul li#opc2:hover{
	background-position: 0px -105px;
}

nav ul li#opc3:hover{
	background-position: 0px -170px;
}

nav ul li#opc4:hover{
	background-position: 0px -220px;
}

nav ul li#opc5:hover{
	background-position: 0px -280px;
}

