@font-face {
     font-family: GROBOLD;
    src: url('../ejercicio6/fonts/GROBOLD.ttf');
}


#envoltorio header img{
	width: 100%;
	margin-bottom: 2%;
}

#envoltorio header h1{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-family: GROBOLD;
	font-size: 70px;
}

#envoltorio #contenido{
	border: solid;
	width: 100%;
	float: left;
	background-color: #5d77a3;
}

#envoltorio #contenido aside{
	width: 5%;
	padding: 8% 5%;
	float: left;

}

#envoltorio #contenido img{
	width: 69.25%;
	border-right: solid;
	border-left: solid;
	float: left;
}

#envoltorio #contenido aside img{
	border: transparent;
}


#envoltorio footer{
	border:solid;
	border-top: transparent;
	float: left;
	width: 100%;
	margin-bottom: 2%;

}

#envoltorio footer #intro{
	width:80.5%;
	padding: 1% 2%;
	clear: both;
	float: left;
	border-right:solid;
	font-size: 18px;
}	

#envoltorio footer nav{
	float: left;
	width: 11%;
	padding: 1% 2%;
	text-align: center;
	font-weight: bold;
}

#envoltorio footer nav a{
	text-decoration: none;
	color: #365882;
}

#envoltorio footer nav #act{
	color: #bf0f0f;
	font-weight: bold;
}

#envoltorio footer #general{
	width: 100%;
	background-color: #5d77a3;
	float: left;
	border: 3px solid;
	border-left: transparent;
	border-right: transparent;
	text-align: center;
	font-weight: bold;
	padding: 3px 0px;
}

#envoltorio footer #valoracion{
	width: 34%;
	float: left;
	padding: 0% 2%;
	border-right: solid;
}

#envoltorio footer #votos{
	width: 23.22%;
	float: left;
	text-align: center;
	padding: 2.5% 0%;
	font-size: 20px;
	font-weight: bold;
	margin: 0 auto;
}

#envoltorio footer #votos span{
	color: #8e1d1d;
	text-transform: uppercase;
}