#envoltorio{
	background-image: url('../img/bosco.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment:fixed;
	margin:0 auto;
}

#envoltorio header{
	background-color: black;
	color: #3d3d3d;
	padding: 10px 28px;
	font-weight: bold;
	font-family: sans-serif;
	
}

#envoltorio #contenido article{
	width: 40%;
	margin: 320px auto;
}

#envoltorio #contenido article #datos{
	background-color: white;
	padding: 8px 20px;
	margin-bottom: 0.5%;
	color:#a5afa1;
	border-radius: 7px;
}

#envoltorio #contenido article #sesion{
	background-color: #b6ee65;
	text-align: center;
	color: black;
	padding: 4% 10%;
    font-size: 20px;
    border-bottom: 3px solid #307d63;
    border-radius: 9px;
    margin-top: 12%;

}

#envoltorio #contenido nav{
	width: 100%;
	margin-top: -15%;
	float: left;
}

#envoltorio #contenido nav h1{
	margin-bottom: 2px;
	font-weight: bold;
}

#envoltorio #contenido nav #web{
	width: 16%;
	padding: 2px 15px;
	background-color: white;
	margin: 0% 10% ;
	float: left;
}

#envoltorio #contenido nav #facebook{
	width: 16%;
	padding: 2px 15px;
	background-color: white;
	margin-left: 4%;
	margin-right: 10%;
	float: left;
}

#envoltorio #contenido nav #youtube{
	width: 16%;
	padding: 2px 15px;
	background-color: white;
	margin-left: 4%;
	float: left;
}

a{
	text-decoration: none;
	color: white;
	padding: 1px 2px;
	margin:0px;
}

#web a, #facebook a, #youtube a{
	background-color: red;
	float: right;
	margin: 13px 0px;
}


#envoltorio footer{
	color: white;
	text-align: center;
	width: 100%;
	clear: both;	
	margin-top: -60px;
}

#envoltorio footer #identificar{
	color: black;
}

#envoltorio footer #identificar a{
	color: red;
}