	body{
		width: 100%;
		background-color: #dc001b;
		margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
	}

	#envoltorio{
		width: 100%;
		min-width: 450px;
	}

	#envoltorio header{
		width: 100%;
		padding: 10px 20px;
		background-color: black;
		height: 27px;
	}

	#inicio, #cursos, #idioma{
		float: left;
		color: grey;
		font-family: "Droid Sans",sans-serif;
	}

	#envoltorio header #inicio{
    	font-size: 20px;
		padding-left: 5px;
	}

	#cursos, #idioma{
		font-size: 14px;
		padding-left: 11%;
		padding-top: 3px;
		margin-left: 20px;
	}


	#envoltorio header #usuario{
		float: right;
		margin-right: 50px;
		height: 0px;


	}

	#envoltorio header #usuario #nombre{
		float: left;
    	font-size: 14px;
		color: grey;
		font-family: "Droid Sans",Arial,Helvetica,sans-serif;
		padding-right: 12px;
		padding-top: 3px;
	}

	#envoltorio header #usuario img{
		float: left;
	}

	#envoltorio #contenido{
		padding-left: 30px;
		padding-top: 30px;
	}

	#envoltorio #contenido #cabecera{
		margin-bottom: 100px;
		width: 100%;
	}

	#envoltorio #contenido #cabecera .principal{
		width: 10%;
		float: left;
		padding-top: 8px;
		padding-bottom: 8px;
		text-align: center;
		color: white;
		font-size: 16px;
		font-family: "Droid Sans",Arial,Helvetica,sans-serif;
		border-radius: 5px;
		background-color: #666;
	}

	#envoltorio #contenido #cabecera #icono{
		width: 10%;
		float: right;
	}

	#envoltorio #contenido #salesianos{
		background-color: white;
		float: left;
		border-radius: 10px;
		width: 65%;
		height: 725px;
	}

	.texto{
		width: 100%;
		float: left;
		font-size: 30px;
		font-family: "Droid Sans",Arial,Helvetica,sans-serif;
		font-weight: bolder;
		color: #46484c;
		margin-top: 30px;
		margin-left: 30px;
	}

	#envoltorio #contenido #salesianos #marcador{
		width: 100%;
		margin-left: 30px;
		margin-top: 10px;
	}

	#envoltorio #contenido #salesianos #marcador img{
		width: 90%;
		margin-left: 30px;
		margin-top: 10px;
	}


	#envoltorio #contenido #salesianos #buscador{
		margin-left: 20px;
		width: 95%;
	}

	#envoltorio #contenido #salesianos #idioma{
		margin-top: 10px;
		text-align: center;
	}

	#envoltorio #contenido #salesianos #ventanas{
		margin-top: 1px;
		margin-left: 190px;
	}

	#envoltorio #contenido #salesianos #frase{
		text-align: center;
		font-family: "Droid Sans",Arial,Helvetica,sans-serif;
		color: #46484c;
	}
	
	#envoltorio #contenido #cajaEstrecha{
		float: left;
		width: 30%;
		margin-left: 50px;
		height: 800px;
	}

	#cajaslaterales{
		width: 90%;
		border-radius: 5px;
		margin-top: 0px;
		margin-bottom: 20px;
		float: left;
		background-color: white;
	}

	.contenido{
		width: 100%;
		float: left;
	}

	.contenido img{
		padding-left: 5px;
		padding-top: 5px;
		width: 90%;
		display: block;
	}

	.icono{
		width: 10%;
		float: left;
	}

	.textoIcono{
		padding-top: 5px;
		width: 90%;
		float: left;
	}

	.textoIcono p{
		color: #46484c;
		padding:5px;
		font-size: 16px;
		font-weight: bold;
		margin: 0px;
	}

			.cajasfooter{
			box-shadow: 0 1px 4px rgba(0,0,0,.3),0 0 40px rgba(0,0,0,.1) inset;
			border-radius: 3px;
			width: 30%;
			float: left;
			margin:0 20px;
			background-color: white;

		}
		.cajasfooter img{
			width: 90%;
			display: block;

		}
		#fin{
			width: 30%;
			margin: 0 auto;
		}
		#fin p{
			text-align: center;
			color: black;
			font-weight: bolder;
		}
		
