h1{
	background-color: #ff8b2d;
	text-align: center;
	color: white;
	font-weight: bold;
}

h2{
	background-color: #3c82bc;
}

a{
	text-decoration: none;
}

#envoltorio{
	width: 100%;
	margin:0 auto;
	min-width: 450px;	
}

#envoltorio header{
	width: 100%;
}

#envoltorio header img{
	padding-left: 25%;
	width: 50%;
}

#envoltorio #contenido nav{
	width: 20%;
	float: left;
}

#envoltorio #contenido article{
	width: 80%;
	float: left;
}

#envoltorio footer{
	width: 100%;
	clear: both;
	text-align: center;
}